.TodolistWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 300px;
    margin: 10px;
}
.Todolist__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.Todolist__filerButton {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}